<div class="cal-month-day <%= cls %> <% if ( events.length ) print(' event-day') %> ">
	<span class="pull-left" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>

	<% if (events.length > 1) { %>
		<div class="list-events"><span><%= events.length %></span> <%- fwShortcodeCalendarLocalize.events %></div>
	<% } else if(events.length === 1) { %>
		<div class="list-events"><span><%= events.length %></span> <%- fwShortcodeCalendarLocalize.event %></div>
	<% } %>

	<% if (cls.indexOf('cal-day-today') !== -1) {%>
		<span class='text-today'><%- fwShortcodeCalendarLocalize.today %></span>
	<% } %>

	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%- event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%- event.title %>"></a>
			<% }); %>
		</div>
	<% } %>
</div>
